footer {
  height: 100%;
  width: 100vw;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px 0;
  a {
    color: white;
  }
}