header {
  width: 100vw;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  h1 {
    opacity: 0;
  }
  .logo {
    width: 300px;

    img {
      width: 100%;
    }
  }
}