header {
  width: 100vw;
  height: 10vh;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  h1 {
   display: none;
  }
  .logo {
    width: 300px;
    position: absolute;
    left: 25px;
    top: 10px;

    img {
      width: 100%;
    }
  }
}