main {
  width: 100vw;
  height: 80vh;
  overflow-y: scroll;
  margin: 10px 0;
  position: relative;

  @include forDesktop {
    width: 80vw;
    height: 85vh;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $mainGreen;
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  .character__list {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .character__card {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      width: 250px;
      height: 300px;
      background-color: transparent;
      margin: 10px 50px;
      border-radius: 20px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.7);
      position: relative;
      box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.4);
      text-shadow: 0.5px 0 0 $mainPink, -1px 0 0 $mainGreen;

      @include forDesktop {
        width: 300px;
      }

      .character__image {
        border-radius: 100%;
        height: 200px;
        position: absolute;
        z-index: 1;
        animation: moving-pics 2s infinite ease-in-out;
        
        @keyframes moving-pics {
          0% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translatey(0px);
          }
          50% {
            box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
            transform: translatey(-4px);
          }
          100% {
            box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translatey(0px);
          }
        }

        img {
          border-radius: 100%;
          height: 100%;

          &:hover {
            filter: hue-rotate(180deg);
            transform: rotate(360deg);
            transition: all 0.3s linear;
          }
        }
      }
      .character__info {
        border-radius: 10px;
        background-color: white;
        width: 250px;
        height: 100px;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include forDesktop {
          width: 300px;
        }

        .character__name {
          font-size: 25px;
          margin: 0 1px 4px 0;
          color: transparent;
          text-align: center;
        }
      }
    }
  }
}