.character__notfound {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  text-shadow: 2px 0 0 $mainPink, -2px 0 0 $mainGreen;
  text-align: center;
  overflow: hidden;

  @include forTablet {
    font-size: 50px;
  }

  h2 {
    font-size: 45px;

    @include forTablet {
      font-size: 100px;
    }
  }

  a {
    border-bottom: 6px solid $mainPink;
    color: white;
    animation-duration: 0.05s;
    animation-name: text-distortion;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes text-distortion {
    from {
      text-shadow: 1px 0 0 $mainPink, -2px 0 0 $mainGreen;
    }
    to {
      text-shadow: 2px 0.5px 2px $mainPink, -1px -0.5px 2px $mainGreen;
    }
  }
}

.character__exists {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 2px 0 0 $mainPink, -2px 0 0 $mainGreen;

  h2 {
    font-size: 50px;
    animation-duration: 0.05s;
    animation-name: text-distortion;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  a {
    border-bottom: 6px solid $mainPink;
    color: white;
    animation-duration: 0.05s;
    animation-name: text-distortion;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes text-distortion {
    from {
      text-shadow: 1px 0 0 $mainPink, -2px 0 0 $mainGreen;
    }
    to {
      text-shadow: 2px 0.5px 2px $mainPink, -1px -0.5px 2px $mainGreen;
    }
  }
}