.character__notfound {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  text-shadow: 2px 0 0 #ea36af, -2px 0 0 #75fa69;

  h2 {
    font-size: 100px;
  }

  a {
    // text-decoration: underline;
    border-bottom: 6px solid #ea36af;
    color: white;
    animation-duration: 0.05s;
    animation-name: text-distortion;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes text-distortion {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
  }
}