html {
  // width: 100vw;
  height: 100vh;
  background: url('../../images/background.jpg') no-repeat;
  // background-size: cover;
  background-position: center;
  a {
    cursor: url('../../images/cursor.png'), auto;
  }
}

.App {
  margin: auto;
  // width: 100vw;
  // margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: pink;
}

input[type=text] {
  border: 1px solid black;
}