html {
  // width: 100vw;
  height: 100vh;
  background: url('../../images/background2.jpg') repeat;
  // background-size: cover;
  background-position-x: -45vw;
  background-position-y: top;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  a {
    cursor: url('../../images/cursor.png'), auto;
    color: black;
  }
}

.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: pink;

  h2 {
    font-weight: bold;
  }
}