  
// Colors
$mainPink: #ea36af;
$mainGreen: #75fa69;
$mainRed: #ff1717;

// Font sizes


// Typography
$mainFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

// Device sizes
$mobile: 500px;
$tablet: 768px;
$desktopsm: 1024px;
$desktop: 1200px;